Description=Tinycell Test Coordinator
[Service]
User=sixfab
Restart=always
Group=sudo
RestartSec=3
WorkingDirectory=/opt/sixfab/tinycell/tinycell_test-coordinator/coordinator
ExecStart=/opt/sixfab/tinycell/tinycell_test-process/venv/bin/python3 coordinator.py